 @import "../../common/stylus/mixin.styl"

      .rating-wrapper          
        padding: 0 18px
        .rating-item
          display :flex
          padding:18px 0
          border-1px(rgba(7,17,27,0.1))
          .avatar
            flex:0 0 28px
            width:28px
            margin-right :12px
            img 
              border-radius :50%
          .content
            position:relative
            flex:1
            .name
              line-height :12px
              font-size :10px
              color:rgb(7,17,27)
              margin-bottom :4px
            .star-wrapper
              margin-bottom :6px
              font-size :0
              .star
                display :inline-block
                margin-right :6px
                vertical-align :top
              .delivery
                display :inline-block
                vertical-align :top                
                line-height :12px
                font-size :10px
                color:rgb(147,153,159)
            .text 
              margin-bottom :8px
              line-height :18px
              color:rgb(7,17,27)
              font-size:12px
            .recommend
              font-size:0
              line-height :16px
              .icon-thumb_up,.item
                display :inline-block
                margin: 0 8px 4px 0
                font-size :9px
              .icon-thumb_up
                color:rgb(0,160,220)
              .item
                padding:0 6px
                border:1px solid rgba(7,17,27,0.1)
                border-radius :1px
                color:rgb(147,153,159)
                background :#fff  
            .time
              position :absolute
              top:0
              right:0
              line-height :12px
              font-size:10px
              color:rgb(147,153,159)
