.HomeMenu
  height:48px
  width :100%
  .menu-list
    padding 0 0
    display :flex
    .menu-item
      text-align :center
      flex:1
      list-style-type:none
      color:#7e8c8d
      .active
          .icon
            color:#f8d373
      .icon
        font-size :28px
      .text
        font-size :12px 