.CategoryMenu
  display :table
  padding : 0 19px
  margin-bottom :15px
  width:100%
  box-sizing:border-box
  >.row-split
    display :table-row    
    height:17px 
  ul
    display :table-row    
    padding-bottom:17px  
    >.menu-item
      display :table-cell
      width:25%
      height :70px
      margin-bottom :10px
      vertical-align :top  
    .icon
      height :48px
      width:48px
      margin:0 auto
      background :#000
      border-radius :48px   
      color:#fff 
      text-align :center
      line-height :48px
      font-size :20px
      i
        line-height:46px
    .text
      height:22px
      line-height :22px
      font-size :12px;  
      text-align :center

