.SellerFiler
  display:table
  width:100%
  height:38px
  border-bottom : 1px solid #e4e4e4
  border-top 1px solid #e4e4e4
  >.menu
    display :table-row
    text-align :center
    >.menu-item
      display :table-cell
      width:25%
      color:#666666
      &.active
        color:#000
      >.text
        font-size :15px
        line-height :36px
        >.icon
          margin-left :4px
          vertical-align :middle
          font-size :15px