.header
  position :relative
  height :60px
  margin:20px 10px
  .title
    line-height :24px
    font-size: 24px
    border:0px
  .button  
    position : absolute
    right :20px
    bottom :10px
    .k-icon
      font-size :12px
