.OrderList
  width:100%
  .contentWrapper
    position :absolute
    bottom:0
    overflow :hidden
    left:0
    top:40px
    width:100%
    .split
      height:10px
      background:rgb(244,244,244)      
