.SellerList
//  position : absolute
  width:100%
  .seller-list-wrapper
    ul
      list-style-type: none
      padding:0 0
  >.title
    display :flex
    width:50%
    margin:10px auto 10px auto
    height:24px
    margin-top:6px
    .line
      flex :1
      position :relative
      top:-12px
      border-bottom :1px solid #333333
    .text
      flex:0 0 100px
      font-size :20
      font-weight :800
      text-align :center
      line-height :24px
  .seller-list-item  
    text-decoration: none